<!--Pagination-->
@{
    var url = "/" + ViewContext.RouteData.Values["controller"].ToString()
            + "/" + ViewContext.RouteData.Values["action"].ToString();

    var queryString = Context.Request.QueryString;
    url += "?";
    if (queryString.HasValue && queryString.Value.Contains("q="))
    {
        if (queryString.Value.Contains("&"))
        {
            url += queryString.Value.Substring(queryString.Value.IndexOf("q="), queryString.Value.IndexOf("&") - 1);
        }
        else
        {
            url += queryString.Value.Substring(queryString.Value.IndexOf("q="));
        }
    }
    url += "&page=";
}
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@(url + (Model.CurrentPage - 1))" tabindex="-1">السابق</a>
        </li>
        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item active">
                    <a class="page-link" href="@(url + i)">@i<span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@url@i">@i</a></li>
            }
        }
        <li class="page-item @(Model.CurrentPage == Model.PagesCount ? "disabled" : "")">
            <a class="page-link" href="@url@(Model.CurrentPage + 1)">التالي</a>
        </li>
    </ul>
</nav>
<!--End Pagination-->